# Simple Output

In [13]:
print('Hello World')
print(7)
print(True)
print('hello', 7, True)
print('hello', 7, True,sep='-')#sep print ka argument hai, by default iska value space hai

Hello World
7
True
hello 7 True
hello-7-True

In [12]:
print('hello', end='-')#end ki default value thi /n i.e. next line
print('world')

hello-world

# Data Types-Mostly Same, No char, array is list, tuples, sets, dictionary

In [22]:
print([1,2,3,4])# list
print((1,2,3,4))# tuple
print({1,2,3,4})#sets
print({'name':'nitish','gender':'male','weight':70})
type(2)
type(2.3333)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3, 4}
{'name': 'nitish', 'gender': 'male', 'weight': 70}

float

# Variables - dynamic typing i.e. define ni krte variable if it is int, char, float etc python khud interprate krleta hai

In [25]:
name = 'adi'
print(name)
# Dynamic binding - fix ni hota variable ka data type
a=5
print(a)
a='hiii'
print(a)
a,b,c = 1,2,3
print(a,b,c)

adi
5
hiii
1 2 3

# User Input

in

# Type Casting add two no**